@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");

}
html{
    color: #6c6c6c;
    font: 12px/18px SegoeUI, sans-serif;
    background: #fff;
    box-sizing: border-box;
}
html, body, .page-container{
    height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.clearfix:after,.clearfix:before {
    content: "";
    clear: both;
    display: table;
}
.page-container{
    display: table;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}
 .container{
 	margin: 0 auto;
 	padding: 0 10px;
 	max-width: 1024px;
 }

header .container {
	padding: 24px 25px 0px 31px;
}
.logo {
	float: left;
	width: 178px;
}
.logo img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.nav {
	float: right;
	margin-top: 20px;	
}
.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.l1nav li {
	display: inline-block;
	padding: 0 21px 21px;
}
.l1nav li:hover .l2nav { 
	display: block;
}
.l1nav li a {
	padding-bottom: 16px;
	color: #6c6c6c;
	text-decoration: none;
	font-family: SegoeUI;
    font-size: 16px; 
 	 transition: border-bottom ease 300ms;    
	}
.l1nav li a:hover {
	border-bottom: solid #5094f2 5px; 
}
.nav .l2nav {
	display: none;
	position: absolute;
	z-index: 2; 
	margin-top: 21px;
}
.l2nav li {
	display: block;
	padding: 0 21px 21px 0;
}
.l2nav li a {
	display: block;
	padding: 20px 0 13px;	
	background: #fff;
	color: #6c6c6c;
 	transition: color ease 1000ms;	
}
.l2nav li:hover {
	background: #5094f2; 
	}

.l2nav li a:hover {
	border-bottom: none;
	color: #fff;
	}
 .mobile-active:before {
    content: "Menu";
    display: block;
	font-family: SegoeUI;
    font-size: 2.551vh;
    font-weight: bold;
	color: #fff;
	background: #5094f2;
	border-bottom: solid #5094f2 3px;
	margin: 0 0 10% 0;
	padding: 15% 0 5% 15%; 
	height: 84px;
}
.mobile-active {
	display: block !important;	
	position: fixed;
	right: 0;
	top: 0;
	width: 33%;
	height: 100%;
	padding-top: 0;
	background: #fff;
	z-index: 16;
}
.mobile-active li {
	display: block;
	margin-left: 10px;
	padding: 10px 21px 11px;
	list-style: none;
	clear: both;
}
.mobile-active li:hover .l2nav li { 
	display: block;
}
.mobile-active li:hover .l2nav { 
	display: block;
}
.mobile-active li a {
	display: block;
	width: 100%;
	padding-bottom: 16px;
	color: #6c6c6c;
	text-decoration: none;
	font-family: SegoeUI;
    font-size: 2.04vh;
    transition: border-bottom ease 300ms;      
	}
.mobile-active li a:hover {
	border-bottom: solid #5094f2 3px; 
}
.mobile-active .l2nav {
	display: none;
	z-index: 17; 		
	padding-left: 15%;
	margin-top: 21px;
	position: static;
}
.mobile-active .l2nav li {
	width: 80%;
	text-align: left;
	background: #fff;
	padding: 20px 0 13px 10px;
	border-bottom: solid #5094f2 1px;
	border-radius: 2px; 
}
.mobile-active .l2nav li a {
	color: #6c6c6c;
	transition: color ease 500ms;
}
.mobile-active .l2nav li:hover {
	background: #5094f2;
	border-bottom: none; 
}
.mobile-active .l2nav li a:hover {
	border-bottom: none;
	color: #fff;
}    
.btn-hamburger{
	display: none;
    position: relative;
    margin: 5px 0 15px;
    border: 0;
    outline: 0;
    float: right;
    width: 50px;
    height: 40px;
    background: #5094f2;
    cursor: pointer;
	border-radius: 2px;
}
.is-active {
	display: block;
	position: fixed;
	right: 3%;
	top: 3%;
	z-index: 17;
}
.btn-hamburger.is-active:before {
	top: 19px;
	transform: rotate(-45deg);
}
.btn-hamburger.is-active:after {
	bottom: 18px;
	transform: rotate(45deg);
}
.is-active .hamburger-icon {
	visibility: hidden;	
}
.btn-hamburger .hamburger-icon,
.btn-hamburger:before,
.btn-hamburger:after{
    display: block;
    width: 36px;
    height: 3px;
    background: #fff; 
}
.btn-hamburger:before,
.btn-hamburger:after{
    position: absolute;
    content: '';
}
.btn-hamburger:before{
    top: 10px;
	transition: rotate ease 1000ms;    
}
.btn-hamburger:after{
    bottom: 10px;
	transition: rotate ease 1000ms;
}
.swiper-container {
	clear: both;
	margin: auto;
	max-width: 1024px;
    max-height: 480px;
}
.swiper-slide {
	  height: auto;
      text-align: center;
      font-family: SegoeUI;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
.slider-content {
	width: 100%;
	height: 100%;
	background: url(../images/back.png) no-repeat;
	background-size: 1024px auto;
}
.slider-content img {
	display: block;
	float: left;
	margin-left: 61px;
	margin-top: 36px;
}
.slider-content-text {
	float: left;
	margin-left: 100px;
	margin-top: 154px;
	padding-right: 117px;
	font-family: SegoeUI;
	color: #fff;
}
.slider-content-text-span {
	display: block;
	font-size: 30px;
	line-height: 60px; 
}
.slider-content-text p {
	text-align: left;
	font-size: 22px;
	line-height: 33px;
}
.slider-content-button {
	margin: 0 0 0 12px;
	width: 160px;
	background: #5094f2;
	border-radius: 2px;
}
.slider-content-button img {
	float: left;
	display: block;
	margin: 5px 0 0 12px;
}
.slider-content-button p {
	float: left;
	margin: 0 0 0 9px;
	font-size: 19px;
}
.slider-content-button a {
	text-decoration: none;
	color: #fff;
}
.decorated-content {
	max-width: 1024px;
	margin: 0 auto;
}
.decorated-content .container {
	display: block;
	width: 100%;
	text-align: center;
    font-family: SegoeUI;
    padding-bottom: 3%;
    padding-top: 3%;
    border-bottom: solid #cccccc 1px;
}
.span-decorated {
	display: block;
	color: #5094f2;
	font-size: 27px;
	line-height: 64.8px;
	margin: 0 auto;
}
.decorated-content .container img {
	display: block;
 	float: left;	
}
.decorated-content .container .ico {


}
.decorated-content .container p {
	width: 100%;
	color: #909090;
	font-size: 15.3px;
	text-align: left;
	margin: 0 auto;
	padding: 2.5% 12% 0 34.4%;
}
.decorated-content .container a {
	text-decoration: none;
	color: #5094f2;
}
.text-content {
	max-width: 1024px;
  	margin: 95px auto 52px;
  	font-family: SegoeUI;
  	color: #6f7173;
}
.text-content .container {
	float: left;
	width: 50%;
	margin: 0 auto;
}
.span-text-right {
	display: block;
	font-size: 26px;
	line-height: 50px;
	text-align: left;
}
.span-text-left {
	display: block;
	font-size: 42px;
	line-height: 44px;
	text-align: center;
}
.text-content .container p {
	font-size: 15px;
	line-height: 33px;
	padding-right: 66px;
	margin-top: 50px;
}
.text-content .container img {
	display: block;
	margin: 0 auto;
	padding-top: 33px;
}
footer {}
.footer {
    position: relative;
    display: table-footer-group;
    width: 100%;
}
.footer-inner {
	margin: 0 auto;
	padding: 33px 0 48px;
	max-width: 1024px;
  	font-family: SegoeUI;
  	color: #6f7173;
  	border-top: solid 1px #6c6c6c;
}
.copyright {
	text-align: center;
	font-size: 15.35px;
}
footer p {	
	margin: 0;
}
@media all and (max-width: 767px) {
.btn-hamburger{
        display: block;
    }

.l1nav{
        display: none;
    }
.nav {
	height: 60px;
}
}
		