html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.clearfix:after,.clearfix:before {
    content: "";
    clear: both;
    display: table;
}
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");

}
html, body, .page-container{
    height: 100%;
}
.page-container{
    display: table;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}
.header {

}
.header .header-container {
	max-width: 1024px;
	padding: 24px 25px 0px 31px;
	margin: 0 auto;
}
.logo {
	float: left;
	width: 178px;
}
.logo img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.nav {
	float: right;
	padding: 20px 0 0;
	margin: 0;
}
ul { 
	margin: 0;
	padding: 0;
}
.nav li {
	display: inline-block;
	padding: 0 21px 21px;
}
.nav li:hover .l2nav li { 
	display: block;
}
.nav li a {
	padding-bottom: 16px;
	color: #6c6c6c;
	text-decoration: none;
	font-family: SegoeUI;
    font-size: 16px;  
	}
.nav li a:hover {
	border-bottom: solid #5094f2 5px; 
	}
.l2nav {
	padding-left: 0px;
	position: absolute;
	z-index: 2; 
	margin-top: 21px;
}
.l2nav li {
	float: left;
	display: none;
	width: 84px;
	clear: both;
	text-align: center;
	background: #fff;
	padding: 20px 0 13px;
}
.l2nav li a {
	color: #6c6c6c;

}
.l2nav li:hover {
	background: #5094f2; 
	}

.l2nav li a:hover {
	border-bottom: none;
	color: #fff;
	}
.l1nav-mobile:before {
    content: "Menu";
    display: block;
	font-family: SegoeUI;
    font-size: 20px;
    font-weight: bold;
	color: #fff;
	background: #5094f2;
	border-bottom: solid #5094f2 3px;
	margin: 0 0 10% 0;
	padding: 15% 0 5% 15%;      	
}
.l1nav-mobile {
	display: none;	
	position: fixed;
	right: 0;
	top: 0;
	width: 25%;
	height: 100%;
/*	padding-top: 21px;*/
	background: #fff;
	z-index: 16;

}
.l1nav-mobile li {
	display: block;
	margin-left: 10px;
	padding: 10px 21px 11px;
	list-style: none;
	clear: both;
}
.l1nav-mobile li:hover .l2nav-mobile li { 
	display: block;
}
.l1nav-mobile li:hover .l2nav-mobile { 
	display: block;
}
.l1nav-mobile li a {
	display: block;
	width: 100%;
	padding-bottom: 16px;
	color: #6c6c6c;
	text-decoration: none;
	font-family: SegoeUI;
    font-size: 16px;  
	}
.l1nav-mobile li a:hover {
	border-bottom: solid #5094f2 3px; 
	}
.l2nav-mobile {
	display: none;	
	padding-left: 15%;
	z-index: 17; 
	margin-top: 21px;
}
.l2nav-mobile li {
	display: none;
	width: 80%;
	clear: both;
	text-align: left;
	background: #fff;
	padding: 20px 0 13px 10px;
	border-bottom: solid #5094f2 1px;
	border-radius: 2px; 
}
.l2nav-mobile li a {
	color: #6c6c6c;
}
.l2nav-mobile li:hover {
	background: #5094f2; 
	}

.l2nav-mobile li a:hover {
	border-bottom: none;
	color: #fff;
	}    
.btn-hamburger{
	display: none;
    position: relative;
    margin: 5px 0 15px;
    border: 0;
    outline: 0;
    float: right;
    width: 50px;
    height: 40px;
    background: #5094f2;
    cursor: pointer;
	border-radius: 2px;
}
.change.btn-hamburger + .l1nav-mobile {
	display: block;
}
.btn-hamburger.change {
	display: block;
	position: fixed;
	right: 2%;
	top: 2%;
	z-index: 17;
}
.btn-hamburger.change:before {
	top: 19px;
	transform: rotate(-45deg);

}
.btn-hamburger.change:after{
	bottom: 18px;
	transform: rotate(45deg);
}
.btn-hamburger.change .hamburger-icon {
	visibility: hidden;	
}
.btn-hamburger .hamburger-icon,
.btn-hamburger:before,
.btn-hamburger:after{
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
}
.btn-hamburger:before,
.btn-hamburger:after{
    position: absolute;
    content: '';
}

.btn-hamburger:before{
    top: 10px;
}

.btn-hamburger:after{
    bottom: 10px;
}
.swiper-container {
	clear: both;
	margin: auto;
	width: 1024px;
    height: 480px;
}
.swiper-slide {
      text-align: center;
      font-family: SegoeUI;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
.slider-content {
	width: 100%;
	height: 100%;
	background: url(../images/back.png) no-repeat;
	background-size: 1024px auto;
}
.slider-content img {
	display: block;
	float: left;
	margin-left: 61px;
	margin-top: 36px;
}
.slider-content-text {
	float: left;
	margin-left: 100px;
	margin-top: 154px;
	padding-right: 117px;
	font-family: SegoeUI;
	color: #fff;
}
.slider-content-text-span {
	display: block;
	font-size: 30px;
	line-height: 60px; 
}
.slider-content-text p {
	text-align: left;
	font-size: 22px;
	line-height: 33px;
}
.slider-content-button {
	margin: 0 0 0 12px;
	width: 160px;
	background: #5094f2;
	border-radius: 2px;
}
.slider-content-button img {
	float: left;
	display: block;
	margin: 5px 0 0 12px;
}
.slider-content-button p {
	float: left;
	margin: 0 0 0 9px;
	font-size: 19px;
}
.slider-content-button a {
	text-decoration: none;
	color: #fff;
}
.decorated-content {
	max-width: 1024px;
	margin: 57px auto 0;
}
.decorated-content .container {
	display: inline-block;
	width: 33%;
 	float: left;
	text-align: center;
    font-family: SegoeUI;
}
.span-decorated {
	display: block;
	color: #5094f2;
	font-size: 20px;
	line-height: 48px;
	margin: 0 auto;
}
.decorated-content .container p {
	width: 253px;
	color: #909090;
	font-size: 14px;
	margin: 0 auto;
}
.decorated-content .container p a {
	text-decoration: none;
	color: #5094f2;
}
.text-content {
	max-width: 1024px;
  	margin: 95px auto 52px;
  	font-family: SegoeUI;
  	color: #6f7173;
}
.text-content .container {
	float: left;
	width: 50%;
	margin: 0 auto;
}
.span-text-right {
	display: block;
	font-size: 26px;
	line-height: 50px;
	text-align: left;
}
.span-text-left {
	display: block;
	font-size: 42px;
	line-height: 44px;
	text-align: center;
}
.text-content .container p {
	font-size: 15px;
	line-height: 33px;
	padding-right: 66px;
	margin-top: 50px;
}
.text-content .container img {
	display: block;
	margin: 0 auto;
	padding-top: 33px;
}
footer {
}
.footer {
    position: relative;
    display: table-footer-group;
    width: 100%;
}
.footer-inner {
	margin: 0 auto;
	padding: 33px 0 48px;
	max-width: 1024px;
  	font-family: SegoeUI;
  	color: #6f7173;
  	border-top: solid 1px #6c6c6c;
}
.copyright {
	text-align: center;
	font-size: 15.35px;
}
footer p {	
	margin: 0;
}
@media all and (max-width: 767px) {
.btn-hamburger{
        display: block;
    }

.l1nav{
        display: none;
    }
.nav {
	height: 60px;
}
}
